*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --storm-blue: #225aa7;
  --night-blue: #002a61;
  --blue: #36679a;

  --sky-blue: #338cbf;
  --morning-blue: #81c1ea;
  --yellow: #fcda47;
  --summer-yellow: #ffbe12;
  --light-blue: #f4f6f9;
  --shadow-blue: #dae0e9;
  --red: #f3685f;
  --green: #39c6ac;
  --white: #ffffff;
  --gray: #636363;
  --light-gray: #aaaaaa;
}

@font-face {
  font-family: futura_bold;
  src: url("./Assets/Fonts/futura/Futura_Bold.eot"),
  url("./Assets/Fonts/futura/Futura_Bold.woff") format('woff'),
  url("./Assets/Fonts/futura/Futura_Bold.woff2")format('woff2'),
  url("./Assets/Fonts/futura/Futura_Bold.ttf") format('truetype'); 
  /* font-display: swap; */
}
@font-face {
  font-family: futura_normal;
  src: url("./Assets/Fonts/futura/Futura_medium.eot"),
  url("./Assets/Fonts/futura/Futura_medium.woff") format('woff'),
  url("./Assets/Fonts/futura/Futura_medium.woff2")format('woff2'),
  url("./Assets/Fonts/futura/futura_medium_bt.ttf")format('truetype');
  /* font-display: swap; */
}
@font-face {
  font-family: futura;
  src: url("./Assets/Fonts/futura/Futura_medium.eot"),
  url("./Assets/Fonts/futura/Futura_medium.woff") format('woff'),
  url("./Assets/Fonts/futura/Futura_medium.woff2") format('woff2'),
  url("./Assets/Fonts/futura/futura_medium_bt.ttf")format('truetype');
  /* font-display: swap; */
}
@font-face {
  font-family: Futura;
  src: url("./Assets/Fonts/futura/Futura_medium.eot"),
  url("./Assets/Fonts/futura/Futura_medium.woff"), format('woff')
  url("./Assets/Fonts/futura/Futura_medium.woff2") format('woff2'),
  url("./Assets/Fonts/futura/futura_medium_bt.ttf")format('truetype');
  /* font-display: swap; */
}

@font-face {
  font-family: futura_light;
  src: url("./Assets/Fonts/futura/Futura_Light_bt.eot"),
  url("./Assets/Fonts/futura/Futura_light_bt.woff") format('woff'),
  url("./Assets/Fonts/futura/Futura_light_bt.woff2") format('woff2'),
  url("./Assets/Fonts/futura/futura_light_bt.ttf")format('truetype');
  /* font-display: swap; */
}

@font-face {
  font-family: futura_heavy;
  src: url("./Assets/Fonts/futura/Futura_Heavy.eot"),
  url("./Assets/Fonts/futura/Futura_Heavy.woff") format('woff'),
  url("./Assets/Fonts/futura/Futura_Heavy.woff2") format('woff2'),
  url("./Assets/Fonts/futura/Futura_Heavy_font.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: futura_book;
  src: url("./Assets/Fonts/futura/Futura_Book.eot"),
  url("./Assets/Fonts/futura/Futura_Book.woff")format('woff'),
  url("./Assets/Fonts/futura/Futura_Book.woff2")format('woff2'),
  url("./Assets/Fonts/futura/Futura_Book_font.ttf")format('truetype');
  /* font-display: swap; */
}

@font-face {
  font-family: lato_bold;
  src: url("./Assets/Fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
  /* font-display: swap; */
}

@font-face {
  font-family: lato_regular;
  src: url("./Assets/Fonts/Lato/Lato-Regular.ttf");
  /* font-display: swap; */
}

@font-face {
  font-family: lato_medium;
  src: url("./Assets/Fonts/Lato/Lato-Regular.ttf");
  /* font-display: swap; */
}
@font-face {
  font-family: lato_light;
  src: url("./Assets/Fonts/Lato/Lato-Light.ttf");
  /* font-display: swap; */
}

h1 {
  font-size: 36px;
  font-family: futura_bold;
}

h2 {
  font-size: 24px;
  font-family: futura_heavy;
}

h3 {
  font-size: 18px;
  font-family: futura_bold;
}

h4 {
  font-size: 16px;
  font-family: futura_heavy;
}

.bold_1 {
  font-size: 16px;
  font-family: futura_bold;
}

.bold_2 {
  font-size: 14px;
  font-family: lato_bold;
}

.t_2 {
  font-size: 14px;
  font-family: lato_regular;
}

.t_3 {
  font-size: 12px;
  font-family: lato_regular;
}

.t_4 {
  font-size: 10px;
  font-family: lato_regular;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none !important;
}

.fade-in {
  animation: fadeIn 1.8s ease-in-out;
}
.fade-in-fast {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .bancoppel * {
  border: 1px solid red;
} */

