body{
    padding: 29px;
}
/* LOGO DE BANCOPPEL AZUL */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
/* CUADRO PADRE AZUL CON RADIUS */
.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #81C1EA;
    height: 100%;
    border-radius: 12px;
    width: 100%;
}
.l{
    width: 100%;
    margin-top: -1px;
    margin-left: -0.1px;
}